<ion-header>

    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only start (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title end>{{ palabra.palabra }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div padding id="share-image">
        <ion-card>
            <ion-card-header id="share-header">
                <h1 id="app-title">chivoApp</h1>
            </ion-card-header>
            <ion-card-content>

                <h2 id="palabra">{{ palabra.palabra }}</h2>
                <hr>
                <h2 id="definicion-title">Definición:</h2>
                <br>
                <p id="definicion">{{ palabra.definicion }}</p>

            </ion-card-content>
        </ion-card>
    </div>

    <ion-card *ngFor="let ejemplo of palabra.ejemplos; let i = index">
        <ion-card-header>
            Ejemplo #{{i+1}}
        </ion-card-header>
        <ion-card-content>
            {{ ejemplo.ejemplo }}
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Departamentos en los que se utiliza
        </ion-card-header>
        <ion-card-content>
            <p *ngFor="let departamento of palabra.departamentos">
                -{{ departamento }}
                <br>
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Categorias
        </ion-card-header>
        <ion-card-content>
            <p *ngFor="let categoria of palabra.categorias">
                -{{ categoria }}
                <br>
            </p>
        </ion-card-content>
    </ion-card>

    <ion-fab bottom right>
        <button ion-fab mini (click)="shareInFacebook()"><ion-icon name="share"></ion-icon></button>
    </ion-fab>

</ion-content>
