page-home {

    .bienvenida{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    .header{
        background-color: #10ac84;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    .headercon {
        color: black;

    }

    .fondo {
    background: #2f3640;
    color: #ffffff;
    font-family: sans-serif;
    
    }

    .estiloTarjeta{
        background: #353b48;
        color: #ffffff;
        border-color: #ffffff;
        border: 2px;
        
    }

    .estiloh5 {
        font-style: italic;
        text-align: center;
    }

    .estiloh1 {
        font-size: 15px;
        text-align: justify;
    }

    ion-searchbar{        
        .searchbar-input-container{  
            
            .searchbar-input{
                border-radius: 2px;
            }
        }
     }


}

