page-home {

    ion-searchbar{        
        .searchbar-input-container{  
            
            .searchbar-input{
                border-radius: 2px;
            }
        }
     }

    .estiloNombreApp{
        font-family:'OverTheSeasPersonalUse';
        font-size: 22pt !important;
    }

    h1{
        font-family: 'Noodle';
        font-size: 20pt !important;
        text-align: center;
    }

    .estiloTarjeta{
        text-align: justify;
    }


}

