<ion-header color="dark">
	<!-- <ion-navbar color="dark">
		<ion-title>
        </ion-title>
    </ion-navbar> -->
    
    <ion-toolbar color="primary">
        
        <ion-buttons>
                <button ion-button menuToggle icon-only color="light" start *ngIf="!busqueda">
                    <ion-icon name="menu"></ion-icon>
                </button>
        </ion-buttons>

        <ion-searchbar *ngIf="busqueda" full (ionInput)="getItems($event)"
            showCancelButton="true" (ionCancel)="busqueda=!busqueda"
            animated="true" placeholder="Buscar el significado de una palabra"></ion-searchbar>

        <ion-buttons end>
            <button ion-button icon-only color="light" (click)="busqueda=!busqueda">
              <ion-icon name="search" *ngIf="!busqueda" ></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content class="fondo">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="busqueda" full>
            <ion-item *ngFor="let categoria of cat_busqueda">
              <ion-icon name="leaf" item-start></ion-icon>
                {{categoria.nombre}}
            </ion-item>
    </ion-list>

	<ion-card class="bienvenida">
		<ion-card-header class="header">
			<h1>BIENVENIDO A <span class="estiloNombreApp">ChivoApp</span> </h1>
		</ion-card-header>
		<ion-card-content class="estiloTarjeta">
			Acá en este bolado te ayudaremos a comprender significados de palabras propias de nuestra jerga guanaca.
		</ion-card-content>
	</ion-card>
	

	<ion-card class="estiloTarjeta">
		<ion-card-header class="estiloTarjeta">
		CATEGORIAS
		</ion-card-header>
	
		<ion-list>
            <button ion-item *ngFor="let categoria of categorias | async" 
                class="estiloTarjeta" (click)="goToDepartments(categoria.id)">
				<ion-icon [name]="categoria.icon" item-start></ion-icon>
				{{ categoria.categoria}}
			</button> 
	
		</ion-list>
    </ion-card>
    
    <button ion-button block color="primary" (click)="crear_categoria()">AGREGAR CAT</button>

</ion-content>
