page-home {

    .bienvenida{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    .header{
        background-color: #222f3e;
        color: white;
        

    }
    .estiloNombreApp {
        font-family: Script;
        font-size: 22px;
        color: white;
        
    }

    .headercon {
        color: black;

    }

    .fondo {
    background: #2f3640;
    color: #ffffff;
    font-family: 'Century Gothic'
    
    }

    .estiloTarjeta{
        background: #353b48;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 13px;
        
        
        
    }

    .estiloh5 {
        font-style: italic;
        text-align: center;
    }

    .estiloh1 {
        font-size: 15px;
        text-align: justify;
    }

    ion-searchbar{        
        .searchbar-input-container{  
            
            .searchbar-input{
                border-radius: 2px;
            }
        }
     }


}

