<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="primary">

        <div class="user">
          
              <img [src]="user.imagen" *ngIf="logueado">
              <h4 *ngIf="logueado">{{ user.nombre }}</h4>

        </div>

        <ion-buttons end>
            <button ion-button menuToggle icon-only color="light">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>

      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item *ngFor="let p of pages" (click)="openPage(p)" menuClose>
          {{ p.title }}
        </button>

        <button ion-item (click)="login()" color="primary" menuClose>
            Iniciar Sesión
        </button>

      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>