<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="primary">

        <div class="user">

              <img [src]="user.imagen" *ngIf="logueado">
              <h4 *ngIf="logueado">{{ user.nombre }}</h4>

        </div>












      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item *ngFor="let p of pages" (click)="openPage(p)" menuClose>
          {{ p.title }}
        </button>

        <button ion-item (click)="login()" color="primary" menuClose *ngIf="!logueado">
            Iniciar Sesión
        </button>

        <ion-footer>
          <button ion-item (click)="cerrar_sesion()" color="danger" menuClose *ngIf="logueado">
              Cerrar Sesión
          </button>
        </ion-footer>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
